In [3]:
import numpy as np
import sys
import os
import subprocess
import array
import cv2
import shutil
import errno
from datetime import timedelta
from PIL import Image
import pandas as pd
from sklearn.decomposition import PCA
from tmdbv3api import TMDb
from tmdbv3api import Movie
import tempfile

#Demo

In [ ]:
tmdb = TMDb()
tmdb.api_key = 'fbb8cc4b9f2b18b4a6606beeeaf2ca43'
tmdb.language = 'en'
tmdb.debug = True
movie = Movie()
#search = movie.search("The Browning Version")

#m = movie.details(search[1].id)
m = movie.details(43777)

female_actors_exist= 0
female_actors_percentage = 0

for people in m.casts.crew:
    if people.job == 'Director':
      print(people.name)
      print(people.gender)

for video in m.videos.results:
    if video.type == 'Trailer' and video.site == 'YouTube':
      print('https://www.youtube.com/watch?v=' + video.key)

cast_length = min(10, len(m.casts.cast))
for j in range(cast_length):
  if m.casts.cast[j].gender == 1:
    female_actors_exist = 1
    female_actors_percentage += 1


print(female_actors_exist, female_actors_percentage, cast_length)

Leon Ichaso
2
https://www.youtube.com/watch?v=7gnBatEfLds
0 0 8

#Statistics

In [5]:
col_names =  ['user_id', 'age', 'sex', 'occupation', 'zip_code']
users = pd.read_csv('/content/u.user', sep='|', names=col_names, encoding='latin-1')
users

FileNotFoundError: ignored

In [6]:
users['user_id'][users['sex'] == 'F']

NameError: ignored

In [ ]:
users['user_id'][users['sex'] == 'M']

In [ ]:
items = pd.read_csv('items_with_youtube_url.csv')
items['female_actors_percentage'] = items['female_actors_percentage']/items['cast_length']
items['director_gender'][items['director_gender'] == 1] = 'F'
items['director_gender'][items['director_gender'] == 2] = 'M'
items

In [ ]:
len(items[items['director_gender'] == 'F'])

In [ ]:
items.hist(column='female_actors_percentage')

#scrape director name, gender, female actor percentage

In [ ]:
col_names =  ['movie id', 'movie title' ,'release date', 'video release date', 'IMDb URL', 'unknown', 'Action', 'Adventure',
 'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
 'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']
items = pd.read_csv('/content/u.item', sep='|', names=col_names, encoding='latin-1')
items = items.dropna(subset=['release date'])
items.reset_index(drop = True, inplace = True)
items.head()

,movie id,movie title,release date,video release date,IMDb URL,unknown,Action,Adventure,Animation,Children's,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [ ]:
items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1681 entries, 0 to 1680
Data columns (total 24 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   movie id            1681 non-null   int64
 1   movie title         1681 non-null   object
 2   release date        1681 non-null   object
 3   video release date  0 non-null      float64
 4   IMDb URL            1679 non-null   object
 5   unknown             1681 non-null   int64
 6   Action              1681 non-null   int64
 7   Adventure           1681 non-null   int64
 8   Animation           1681 non-null   int64
 9   Children's          1681 non-null   int64
 10  Comedy              1681 non-null   int64
 11  Crime               1681 non-null   int64
 12  Documentary         1681 non-null   int64
 13  Drama               1681 non-null   int64
 14  Fantasy             1681 non-null   int64
 15  Film-Noir           1681 non-null   int64
 16  Horror              1681 non-null   int64
 17  Musical             1681 non-null   int64
 18  Mystery             1681 non-null   int64
 19  Romance             1681 non-null   int64
 20  Sci-Fi              1681 non-null   int64
 21  Thriller            1681 non-null   int64
 22  War                 1681 non-null   int64
 23  Western             1681 non-null   int64
dtypes: float64(1), int64(20), object(3)
memory usage: 315.3+ KB

In [ ]:
for i in range(len(items['movie title'])):
    title = items.loc[i,'movie title'].strip()[:-7]
    title = title.split('(')[0]
    year = items.loc[i,'movie title'].strip()[-5:-1]
    year2 = items.loc[i,'release date'].strip()[-4:]
    title_list = title.split(', ')
    if len(title_list) == 2:
      title = title_list[1] + ' ' + title_list[0]
    items.loc[i,'query'] = title
    items.loc[i,'year'] = year
    items.loc[i,'year2'] = year2
items.head()

,movie id,movie title,release date,video release date,IMDb URL,unknown,Action,Adventure,Animation,Children's,...,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,query,year,year2
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,Toy Story,1995,1995
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,1,0,0,GoldenEye,1995,1995
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,1,0,0,Four Rooms,1995,1995
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,Get Shorty,1995,1995
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,1,0,0,Copycat,1995,1995

In [ ]:
tmdb = TMDb()
tmdb.api_key = 'fbb8cc4b9f2b18b4a6606beeeaf2ca43'
tmdb.language = 'en'
tmdb.debug = True

movie = Movie()
for i in range(len(items['movie title'])):
    items.loc[i,'director'] = None
    items.loc[i,'director_gender'] = None
    items.loc[i,'youtube_url'] = None
    items.loc[i,'female_actors_exist'] = 0
    items.loc[i,'female_actors_percentage'] = 0

    search = movie.search(items.loc[i,'query'])
    if search:
      for result in search:
        try:
          if abs(int(items.loc[i,'year']) - int(result.release_date[:4])) <=1 or \
          abs(int(items.loc[i,'year2']) - int(result.release_date[:4])) <=1:
            m = movie.details(result.id)
            break
        except:
          break
      
      for people in m.casts.crew:
        if people.job == 'Director':
          items.loc[i,'director'] = people.name
          items.loc[i,'director_gender'] = people.gender
          break

      for video in m.videos.results:
        if video.type == 'Trailer' and video.site == 'YouTube':
          items.loc[i,'youtube_url'] = 'https://www.youtube.com/watch?v=' + video.key
          break
          
      cast_length = min(10, len(m.casts.cast))
      items.loc[i,'cast_length'] = cast_length

      for j in range(cast_length):
        if m.casts.cast[j].gender == 1:
          items.loc[i,'female_actors_exist'] = 1
          items.loc[i,'female_actors_percentage'] += 1

items

,movie id,movie title,release date,video release date,IMDb URL,unknown,Action,Adventure,Animation,Children's,...,Western,query,year,year2,director,director_gender,youtube_url,female_actors_exist,female_actors_percentage,cast_length
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,Toy Story,1995,1995,John Lasseter,2.0,https://www.youtube.com/watch?v=CxwTLktovTU,1.0,2.0,10.0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,GoldenEye,1995,1995,Martin Campbell,2.0,https://www.youtube.com/watch?v=_PMD6YenOEg,1.0,3.0,10.0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,Four Rooms,1995,1995,Allison Anders,1.0,https://www.youtube.com/watch?v=S_Pd2pGkq54,1.0,7.0,10.0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,Get Shorty,1995,1995,Barry Sonnenfeld,2.0,https://www.youtube.com/watch?v=fvBx0x9IJnk,1.0,2.0,10.0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,Copycat,1995,1995,Jon Amiel,2.0,https://www.youtube.com/watch?v=lsmXhM4yfU0,1.0,3.0,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1676,1678,Mat' i syn (1997),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?Mat%27+i+syn+...,0,0,0,0,0,...,0,Mat' i syn,1997,1998,Aleksandr Sokurov,2.0,None,0.0,0.0,2.0
1677,1679,B. Monkey (1998),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?B%2E+Monkey+(...,0,0,0,0,0,...,0,B. Monkey,1998,1998,Michael Radford,2.0,https://www.youtube.com/watch?v=SLfl0RiOvEM,1.0,3.0,10.0
1678,1680,Sliding Doors (1998),01-Jan-1998,NaN,http://us.imdb.com/Title?Sliding+Doors+(1998),0,0,0,0,0,...,0,Sliding Doors,1998,1998,Peter Howitt,2.0,https://www.youtube.com/watch?v=Da-Mizk86AE,1.0,5.0,10.0
1679,1681,You So Crazy (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?You%20So%20Cr...,0,0,0,0,0,...,0,You So Crazy,1994,1994,Thomas Schlamme,2.0,https://www.youtube.com/watch?v=Nl-U_R7VEr8,0.0,0.0,1.0
1680,1682,Scream of Stone (Schrei aus Stein) (1991),08-Mar-1996,NaN,http://us.imdb.com/M/title-exact?Schrei%20aus%...,0,0,0,0,0,...,0,Scream of Stone,1991,1996,Werner Herzog,2.0,None,1.0,2.0,10.0

In [ ]:
items.to_csv('items_with_youtube_url.csv', index = False)

# Search for youtube url in js, get the most likely url (not used)

We need to run `http-server ./` with items_original.csv in a separate window, then run `npx webpack server` with `retrieve_youtube_url` js, which will download a `items_with_youtube_url.txt `

In [ ]:
items = pd.read_json('/content/items_with_youtube_url.txt')

items = items.drop(['', 'year'], axis=1)
#items['year'] = items['year'].apply(lambda x: str(int(x)))
items.head()

ValueError: ignored

To get the most accurate result, if there's multiple outcome, we choose the second one, otherwise the first one unless there's no result

In [ ]:
for i in range(len(items['movie_id'])):
    youtube_list = items.loc[i,'youtube_url']
    try:
      items.loc[i,'clean_youtube_url'] = youtube_list[1]
    except:
      try:
        items.loc[i,'clean_youtube_url'] = youtube_list[0]
      except:
        items.loc[i,'clean_youtube_url'] = youtube_list
items.head()

KeyError: ignored

In [ ]:
items.to_csv('clean_youtube_url.csv', index = False)

# Manually filled in the blanks for films without youtube url, perform some modifications

In [52]:
items = pd.read_csv('items_with_youtube_url_filled.csv')
items.dropna(subset=['movie id'], inplace = True)
items['cast_length'][items['cast_length'].isna()] = 'Unclear'
items['cast_length'][items['cast_length'] == 0] = 'Unclear'
for index, row in items.iterrows():
  if row['cast_length'] == 'Unclear':
    items.loc[index, 'female_actors_percentage'] = 'Unclear'
    items.loc[index, 'female_actors_cutoff'] = 'Unclear'
  else:
    items.loc[index, 'female_actors_percentage'] = row['female_actors_percentage']/row['cast_length']
    items.loc[index, 'female_actors_cutoff'] = 1 if items.loc[index, 'female_actors_percentage'] >= 0.4 else 0

items['director_gender'][items['director_gender'] == 1] = 'F'
items['director_gender'][items['director_gender'] == 2] = 'M'
items['director_gender'][items['director_gender'] == 0] = 'Unclear'
items.to_csv('items_with_youtube_url_final_ver.csv', index = False)

<ipython-input-52-debfab09aa26>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  items['cast_length'][items['cast_length'].isna()] = 'Unclear'
<ipython-input-52-debfab09aa26>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  items['cast_length'][items['cast_length'] == 0] = 'Unclear'
<ipython-input-52-debfab09aa26>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  items['director_gender'][items['director_gender'] == 1] = 'F'
<ipython-input-52-debfab09aa26>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  items['director_gender'][items['director_gender'] == 2] = 'M'
<ipython-input-52-debfab09aa26>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  items['director_gender'][items['director_gender'] == 0] = 'Unclear'

In [13]:
items[items['female_actors_percentage'] > 0.3]

,movie id,movie title,release date,video release date,IMDb URL,unknown,Action,Adventure,Animation,Children's,...,Western,query,year,year2,director,director_gender,youtube_url,female_actors_exist,female_actors_percentage,cast_length
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,Four Rooms,1995,1995,Allison Anders,F,https://www.youtube.com/watch?v=S_Pd2pGkq54,1.0,0.7,10.0
7,8,Babe (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Babe%20(1995),0,0,0,0,1,...,0,Babe,1995,1995,Chris Noonan,M,https://www.youtube.com/watch?v=tVxeoUtVF0o,1.0,0.5,10.0
8,9,Dead Man Walking (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Dead%20Man%20...,0,0,0,0,0,...,0,Dead Man Walking,1995,1995,Tim Robbins,M,https://www.youtube.com/watch?v=hr3ASqbap_s,1.0,0.5,10.0
12,13,Mighty Aphrodite (1995),30-Oct-1995,NaN,http://us.imdb.com/M/title-exact?Mighty%20Aphr...,0,0,0,0,0,...,0,Mighty Aphrodite,1995,1995,Woody Allen,M,https://www.youtube.com/watch?v=zLkA6SvZmZ4,1.0,0.4,10.0
14,15,Mr. Holland's Opus (1995),29-Jan-1996,NaN,http://us.imdb.com/M/title-exact?Mr.%20Holland...,0,0,0,0,0,...,0,Mr. Holland's Opus,1995,1996,Stephen Herek,M,https://www.youtube.com/watch?v=bcqvC7vZaqY,1.0,0.5,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1667,1669,MURDER and murder (1996),20-Jun-1997,NaN,http://us.imdb.com/M/title-exact?MURDER+and+mu...,0,0,0,0,0,...,0,MURDER and murder,1996,1997,Yvonne Rainer,F,NaN,1.0,0.4,10.0
1670,1672,Kika (1993),01-Jan-1993,NaN,http://us.imdb.com/M/title-exact?Kika%20(1993),0,0,0,0,0,...,0,Kika,1993,1993,Pedro Almodóvar,M,https://www.youtube.com/watch?v=z5bmEnGrA4s,1.0,0.5,10.0
1673,1675,"Sunchaser, The (1996)",25-Oct-1996,NaN,"http://us.imdb.com/M/title-exact?Sunchaser,%20...",0,0,0,0,0,...,0,The Sunchaser,1996,1996,Michael Cimino,M,https://www.youtube.com/watch?v=BFG7Cd9iClc,1.0,0.4,10.0
1674,1676,"War at Home, The (1996)",01-Jan-1996,NaN,http://us.imdb.com/M/title-exact?War%20at%20Ho...,0,0,0,0,0,...,0,The War at Home,1996,1996,Emilio Estevez,M,https://www.youtube.com/watch?v=x2sjkcs6F_w,1.0,0.4,10.0
1678,1680,Sliding Doors (1998),01-Jan-1998,NaN,http://us.imdb.com/Title?Sliding+Doors+(1998),0,0,0,0,0,...,0,Sliding Doors,1998,1998,Peter Howitt,M,https://www.youtube.com/watch?v=Da-Mizk86AE,1.0,0.5,10.0

In [63]:
len(items[items['director_gender'] == 'F'])/len(items)

0.07019631171921475

In [62]:
len(items[items['director_gender'] == 'Unclear'])

76

In [ ]:
items.hist(column='female_actors_percentage')

# Extract frames from videos

In [ ]:
SAVING_FRAMES_PER_SECOND = 3
SAVING_SECONDS = 1080
DIM = (299, 299)

In [ ]:
def format_timedelta(td):
    """Utility function to format timedelta objects in a cool way (e.g 00:00:20.05)
    omitting microseconds and retaining milliseconds"""
    result = str(td)
    try:
        result, ms = result.split(".")
    except ValueError:
        return result + ".00".replace(":", "-")
    ms = int(ms)
    ms = round(ms / 1e4)
    return f"{result}.{ms:02}".replace(":", "-")

def get_saving_frames_durations(cap, saving_fps, saving_seconds):
    """A function that returns the list of durations where to save the frames"""
    s = []
    # get the clip duration by dividing number of frames by the number of frames per second
    if cap.get(cv2.CAP_PROP_FPS) != 0:
      clip_duration = cap.get(cv2.CAP_PROP_FRAME_COUNT) / cap.get(cv2.CAP_PROP_FPS)
    else:
      clip_duration = cap.get(cv2.CAP_PROP_FRAME_COUNT) / 24
    # use np.arange() to make floating-point steps
    for i in np.arange(0, clip_duration, 1 / saving_fps):
      if len(s) < saving_seconds:
        s.append(i)
    return s, clip_duration

def extract_frames(video_file):
    filename, _ = os.path.splitext(video_file)
    filename += ' frames'
    # make a folder by the name of the video file
    if not os.path.isdir(filename):
        os.mkdir(filename)
    # read the video file
    cap = cv2.VideoCapture(video_file)
    # get the FPS of the video
    fps = 24
    if cap.get(cv2.CAP_PROP_FPS) != 0:
      fps = cap.get(cv2.CAP_PROP_FPS)
    # if the SAVING_FRAMES_PER_SECOND is above video FPS, then set it to FPS (as maximum)
    #saving_frames_per_second = min(fps, SAVING_FRAMES_PER_SECOND)
    # get the list of duration spots to save
    saving_frames_durations, clip_duration = get_saving_frames_durations(cap, SAVING_FRAMES_PER_SECOND, SAVING_SECONDS)
    # start the loop
    count = 0
    while True:
        is_read, frame = cap.read()
        if not is_read:
            # break out of the loop if there are no frames to read
            break
        # get the duration by dividing the frame count by the FPS
        frame_duration = count / fps
        try:
            # get the earliest duration to save
            closest_duration = saving_frames_durations[0]
        except IndexError:
            # the list is empty, all duration frames were saved
            break
        if frame_duration >= closest_duration:
            # if closest duration is less than or equals the frame duration,
            # then save the frame
            frame_duration_formatted = format_timedelta(timedelta(seconds=frame_duration))
            resized_frame = cv2.resize(frame, dsize = DIM, interpolation = cv2.INTER_AREA)
            cv2.imwrite(os.path.join(filename, f"frame{frame_duration_formatted}.jpg"), resized_frame)
            
            # drop the duration spot from the list, since this duration spot is already saved
            try:
                saving_frames_durations.pop(0)
            except IndexError:
                pass
        # increment the frame count
        count += 1
    return clip_duration

# Run Inception on frames, get embedding

In [ ]:
from keras.applications.inception_v3 import InceptionV3, preprocess_input
from keras.layers import Dense, Dropout, GlobalAveragePooling2D
from keras.models import Model, load_model
from keras.callbacks import ModelCheckpoint
import tensorflow as tf

In [ ]:
def run_inception(folder_name):
    layer_name = 'avg_pool'
    model = tf.keras.applications.inception_v3.InceptionV3(weights="imagenet")
    model_before_classification = Model(inputs=model.input,
                                 outputs=model.get_layer(layer_name).output)
    #print(model.summary())
    dataset = tf.keras.preprocessing.image_dataset_from_directory(folder_name, \
    labels=None, image_size=(299, 299))
    dataset = dataset.map(lambda x : (x / 255.0 - 1.0)*2.0)

    embeddings = model_before_classification.predict(dataset, verbose=0)

    #how to aggregate frame embedding into video embedding?
    return np.mean(embeddings, axis=0)

In [ ]:
#random initialize vs video embedding, movie wise feature , feature to debias,
#data analysis, rating, Neural recommender, vs recommendtion result

In [ ]:
#tqdm time

In [ ]:
'''
col_names =  ['user_id', 'movie_id', 'rating', 'unix_timestamp']
ratings = pd.read_csv('/content/u.data', sep='\t', names=col_names, encoding='latin-1')
ratings = ratings.sort_values(by=['user_id'])
ratings
'''

       user_id  movie_id  rating  unix_timestamp
66567        1        55       5       875072688
62820        1       203       4       878542231
10207        1       183       5       875072262
9971         1       150       5       876892196
22496        1        68       4       875072688
...        ...       ...     ...             ...
96823      943       427       4       888639147
70902      943        12       5       888639093
84518      943       284       2       875502192
72321      943        62       3       888640003
70713      943       210       4       888639147

[100000 rows x 4 columns]

In [ ]:
#ratings[ratings['user_id'].isin(users['user_id'][users['sex'] == 'F'])]

       user_id  movie_id  rating  unix_timestamp
9201         2       303       4       888550774
12150        2       316       5       888979693
52964        2       237       4       888552017
20534        2       282       4       888551922
11989        2       257       4       888551062
...        ...       ...     ...             ...
73676      942       479       4       891283118
67222      942       604       4       891283139
95675      942       478       5       891283017
85822      942       659       5       891283161
68192      942       487       4       891282985

[25740 rows x 4 columns]

In [ ]:
'''
users = pd.DataFrame(np.zeros((max(user_data['user_id'])+1, max(user_data['movie_id'])+1)))
users = users.drop(0, axis = 0)
users = users.drop(0, axis = 1)
for i in user_data['user_id'].unique():
  for j in user_data['movie_id'][user_data['user_id'] == i].unique():
    users.loc[i,j] = 1
users
'''

,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
940,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
941,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
942,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
943,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# For each film, download trailer, run through the embedding pipeline

In [ ]:
download = pd.read_csv('items_with_youtube_url_filled.csv')
download = download[download['youtube_url'].notna()]
download

,movie id,movie title,release date,video release date,IMDb URL,unknown,Action,Adventure,Animation,Children's,...,Western,query,year,year2,director,director_gender,youtube_url,female_actors_exist,female_actors_percentage,cast_length
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,Toy Story,1995,1995,John Lasseter,2.0,https://www.youtube.com/watch?v=CxwTLktovTU,1.0,2.0,10.0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,GoldenEye,1995,1995,Martin Campbell,2.0,https://www.youtube.com/watch?v=_PMD6YenOEg,1.0,3.0,10.0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,Four Rooms,1995,1995,Allison Anders,1.0,https://www.youtube.com/watch?v=S_Pd2pGkq54,1.0,7.0,10.0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,Get Shorty,1995,1995,Barry Sonnenfeld,2.0,https://www.youtube.com/watch?v=fvBx0x9IJnk,1.0,2.0,10.0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,Copycat,1995,1995,Jon Amiel,2.0,https://www.youtube.com/watch?v=lsmXhM4yfU0,1.0,3.0,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1676,1678,Mat' i syn (1997),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?Mat%27+i+syn+...,0,0,0,0,0,...,0,Mat' i syn,1997,1998,Aleksandr Sokurov,2.0,https://www.youtube.com/watch?v=E7GRtbW64SM,0.0,0.0,2.0
1677,1679,B. Monkey (1998),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?B%2E+Monkey+(...,0,0,0,0,0,...,0,B. Monkey,1998,1998,Michael Radford,2.0,https://www.youtube.com/watch?v=SLfl0RiOvEM,1.0,3.0,10.0
1678,1680,Sliding Doors (1998),01-Jan-1998,NaN,http://us.imdb.com/Title?Sliding+Doors+(1998),0,0,0,0,0,...,0,Sliding Doors,1998,1998,Peter Howitt,2.0,https://www.youtube.com/watch?v=Da-Mizk86AE,1.0,5.0,10.0
1679,1681,You So Crazy (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?You%20So%20Cr...,0,0,0,0,0,...,0,You So Crazy,1994,1994,Thomas Schlamme,2.0,https://www.youtube.com/watch?v=Nl-U_R7VEr8,0.0,0.0,1.0
1680,1682,Scream of Stone (Schrei aus Stein) (1991),08-Mar-1996,NaN,http://us.imdb.com/M/title-exact?Schrei%20aus%...,0,0,0,0,0,...,0,Scream of Stone,1991,1996,Werner Herzog,2.0,https://www.youtube.com/watch?v=qdve0Ni73Vw,1.0,2.0,10.0

In [ ]:
os.chdir('/content/')

def pipeline(df, output_name):
    movie_index = []
    clip_durations = []
    embeddings = []

    #for each film
    for index, film in df.iterrows():

        #make temp directory
        filename = film['movie title']
        if not os.path.isdir(filename):
            os.mkdir(filename)
        filedir = '/content/{}/'.format(filename)
        #download video
        try:
          youtube_url = film['youtube_url']
          file_savename = '{}.%(ext)s'.format(filename)
          #--download-sections "*00:00-06:00"
          !yt-dlp -f 'bv*[height<=720]' -o "$file_savename" -P "$filedir" \
          --max-filesize 100m $youtube_url

          #extract frames and save duration
          clip_duration = extract_frames(filedir + os.listdir(filedir)[0])

          #convert images to embedding, save to list
          embedding = run_inception(filedir + '{} frames'.format(filename))

          #save clip duration and embedding
          movie_index.append(index)
          clip_durations.append(clip_duration)
          embeddings.append(embedding)

          #delete directory
          shutil.rmtree(filedir)
          !yt-dlp --rm-cache-dir
        except:
          continue

    output = np.array([movie_index, clip_durations, embeddings])
    np.save(output_name, output, allow_pickle=True)

    return output

In [ ]:
parts = np.array_split(download, 50)
for i in range(1):
    pipeline(parts[i], str(i))

[youtube] CxwTLktovTU: Downloading webpage
[youtube] CxwTLktovTU: Downloading android player API JSON
[info] CxwTLktovTU: Downloading 1 format(s): 247
[download] Destination: /content/Toy Story (1995)/Toy Story (1995).webm
[download] 100% of   11.71MiB in 00:00:00 at 31.83MiB/s
Found 271 files belonging to 1 classes.
Removing cache dir /root/.cache/yt-dlp ..
[youtube] _PMD6YenOEg: Downloading webpage
[youtube] _PMD6YenOEg: Downloading android player API JSON
[info] _PMD6YenOEg: Downloading 1 format(s): 247
[download] Destination: /content/GoldenEye (1995)/GoldenEye (1995).webm
[download] 100% of   15.00MiB in 00:00:00 at 35.50MiB/s
Found 513 files belonging to 1 classes.
Removing cache dir /root/.cache/yt-dlp ..
[youtube] S_Pd2pGkq54: Downloading webpage
[youtube] S_Pd2pGkq54: Downloading android player API JSON
[youtube] S_Pd2pGkq54: Downloading tv embedded player API JSON
[youtube] S_Pd2pGkq54: Downloading web embedded client config
[youtube] S_Pd2pGkq54: Downloading player 72d3c60a
[youtube] S_Pd2pGkq54: Downloading web embedded player API JSON
/usr/local/lib/python3.8/dist-packages/yt_dlp/jsinterp.py:346: FutureWarning: Possible nested set at position 3
  inner = re.compile(inner[1:], flags=flags)
[info] S_Pd2pGkq54: Downloading 1 format(s): 135
[download] /content/Four Rooms (1995)/Four Rooms (1995).mp4 has already been downloaded
[download] 100% of   10.83MiB
Found 382 files belonging to 1 classes.
Removing cache dir /root/.cache/yt-dlp ...
[youtube] fvBx0x9IJnk: Downloading webpage
[youtube] fvBx0x9IJnk: Downloading android player API JSON
[info] fvBx0x9IJnk: Downloading 1 format(s): 247
[download] Resuming download at byte 1047552
[download] Destination: /content/Get Shorty (1995)/Get Shorty (1995).webm
[download] 100% of   16.71MiB in 00:00:00 at 38.44MiB/s
Found 0 files belonging to 1 classes.
[youtube] lsmXhM4yfU0: Downloading webpage
[youtube] lsmXhM4yfU0: Downloading android player API JSON
[info] lsmXhM4yfU0: Downloading 1 format(s): 243
[download] /content/Copycat (1995)/Copycat (1995).webm has already been downloaded
[download] 100% of    3.26MiB
Found 360 files belonging to 1 classes.
Removing cache dir /root/.cache/yt-dlp ..
[youtube] xgIHRczRE1Q: Downloading webpage
[youtube] xgIHRczRE1Q: Downloading android player API JSON
[info] xgIHRczRE1Q: Downloading 1 format(s): 247
[download] /content/Shanghai Triad (Yao a yao yao dao waipo qiao) (1995)/Shanghai Triad (Yao a yao yao dao waipo qiao) (1995).webm has already been downloaded
[download] 100% of    6.74MiB
Found 267 files belonging to 1 classes.
Removing cache dir /root/.cache/yt-dlp ..
[youtube] YxLbHHYGzkg: Downloading webpage
[youtube] YxLbHHYGzkg: Downloading android player API JSON
[info] YxLbHHYGzkg: Downloading 1 format(s): 247
[download] /content/Twelve Monkeys (1995)/Twelve Monkeys (1995).webm has already been downloaded
[download] 100% of   12.58MiB
Found 16 files belonging to 1 classes.
Removing cache dir /root/.cache/yt-dlp ..
[youtube] tVxeoUtVF0o: Downloading webpage
[youtube] tVxeoUtVF0o: Downloading android player API JSON
[info] tVxeoUtVF0o: Downloading 1 format(s): 18
[download] Destination: /content/Babe (1995)/Babe (1995).mp4
[download] 100% of    6.13MiB in 00:00:00 at 24.92MiB/s
Found 384 files belonging to 1 classes.
Removing cache dir /root/.cache/yt-dlp ..
[youtube] hr3ASqbap_s: Downloading webpage
[youtube] hr3ASqbap_s: Downloading android player API JSON
[youtube] hr3ASqbap_s: Downloading MPD manifest
[youtube] hr3ASqbap_s: Downloading MPD manifest
[info] hr3ASqbap_s: Downloading 1 format(s): 247
[dashsegments] Total fragments: 28
[download] Destination: /content/Dead Man Walking (1995)/Dead Man Walking (1995).webm
[download] 100% of   15.60MiB in 00:00:11 at 1.38MiB/s
Found 0 files belonging to 1 classes.
[youtube] k20svFhRI44: Downloading webpage
[youtube] k20svFhRI44: Downloading android player API JSON
[youtube] k20svFhRI44: Downloading MPD manifest
[youtube] k20svFhRI44: Downloading MPD manifest
[info] k20svFhRI44: Downloading 1 format(s): 247
[dashsegments] Total fragments: 33
[download] Destination: /content/Richard III (1995)/Richard III (1995).webm
[download] 100% of   19.30MiB in 00:00:24 at 793.90KiB/s
Found 0 files belonging to 1 classes.
[youtube] SpKbZ_3zlb0: Downloading webpage
[youtube] SpKbZ_3zlb0: Downloading android player API JSON
[info] SpKbZ_3zlb0: Downloading 1 format(s): 247
[download] Destination: /content/Seven (Se7en) (1995)/Seven (Se7en) (1995).webm
[download] 100% of   13.16MiB in 00:00:00 at 32.81MiB/s
Found 430 files belonging to 1 classes.
Removing cache dir /root/.cache/yt-dlp ..
[youtube] z2FNt5nFPY8: Downloading webpage
[youtube] z2FNt5nFPY8: Downloading android player API JSON
[info] z2FNt5nFPY8: Downloading 1 format(s): 247
[download] Destination: /content/Usual Suspects, The (1995)/Usual Suspects, The (1995).webm
[download] 100% of    7.12MiB in 00:00:00 at 32.44MiB/s
Found 434 files belonging to 1 classes.
Removing cache dir /root/.cache/yt-dlp ..
[youtube] zLkA6SvZmZ4: Downloading webpage
[youtube] zLkA6SvZmZ4: Downloading android player API JSON
[info] zLkA6SvZmZ4: Downloading 1 format(s): 243
[download] Destination: /content/Mighty Aphrodite (1995)/Mighty Aphrodite (1995).webm
[download] 100% of  697.48KiB in 00:00:00 at 5.76MiB/s
Found 84 files belonging to 1 classes.
Removing cache dir /root/.cache/yt-dlp ..
[youtube] SgbbmwHpoAA: Downloading webpage
[youtube] SgbbmwHpoAA: Downloading android player API JSON
[info] SgbbmwHpoAA: Downloading 1 format(s): 247
[download] Destination: /content/Postino, Il (1994)/Postino, Il (1994).webm
[download] 100% of    5.99MiB in 00:00:00 at 34.33MiB/s
Found 256 files belonging to 1 classes.
Removing cache dir /root/.cache/yt-dlp ..
[youtube] bcqvC7vZaqY: Downloading webpage
[youtube] bcqvC7vZaqY: Downloading android player API JSON
[youtube] bcqvC7vZaqY: Downloading MPD manifest
[youtube] bcqvC7vZaqY: Downloading MPD manifest
[info] bcqvC7vZaqY: Downloading 1 format(s): 247
[dashsegments] Total fragments: 34
[download] Destination: /content/Mr. Holland's Opus (1995)/Mr. Holland's Opus (1995).webm
[download] 100% of   20.21MiB in 00:00:15 at 1.28MiB/s
Found 0 files belonging to 1 classes.
[youtube] 7YnfJEgTBGA: Downloading webpage
[youtube] 7YnfJEgTBGA: Downloading android player API JSON
[info] 7YnfJEgTBGA: Downloading 1 format(s): 247
[download] Destination: /content/French Twist (Gazon maudit) (1995)/French Twist (Gazon maudit) (1995).webm
[download] 100% of    3.88MiB in 00:00:00 at 18.25MiB/s
Found 241 files belonging to 1 classes.
Removing cache dir /root/.cache/yt-dlp ..
[youtube] y-J9bBvO5dk: Downloading webpage
[youtube] y-J9bBvO5dk: Downloading android player API JSON
[info] y-J9bBvO5dk: Downloading 1 format(s): 244
[download] Destination: /content/From Dusk Till Dawn (1996)/From Dusk Till Dawn (1996).webm
[download] 100% of    7.18MiB in 00:00:00 at 31.42MiB/s
Found 261 files belonging to 1 classes.
Removing cache dir /root/.cache/yt-dlp ..
[youtube] jL4l_tyPC0Y: Downloading webpage
[youtube] jL4l_tyPC0Y: Downloading android player API JSON
[info] jL4l_tyPC0Y: Downloading 1 format(s): 243
[download] Destination: /content/White Balloon, The (1995)/White Balloon, The (1995).webm
[download] 100% of    2.66MiB in 00:00:00 at 17.74MiB/s
Found 311 files belonging to 1 classes.
Removing cache dir /root/.cache/yt-dlp ..
[youtube] qiAyu1qKkfE: Downloading webpage
[youtube] qiAyu1qKkfE: Downloading android player API JSON
[info] qiAyu1qKkfE: Downloading 1 format(s): 244
[download] Destination: /content/Antonia's Line (1995)/Antonia's Line (1995).webm
[download] 100% of    4.01MiB in 00:00:00 at 11.20MiB/s
Found 292 files belonging to 1 classes.
Removing cache dir /root/.cache/yt-dlp ..
[youtube] bdqnz-FtIog: Downloading webpage
[youtube] bdqnz-FtIog: Downloading android player API JSON
[info] bdqnz-FtIog: Downloading 1 format(s): 244
[download] Destination: /content/Angels and Insects (1995)/Angels and Insects (1995).webm
[download] 100% of    8.51MiB in 00:00:00 at 35.55MiB/s
Found 480 files belonging to 1 classes.
Removing cache dir /root/.cache/yt-dlp ..
[youtube] KLUdKoCganU: Downloading webpage
[youtube] KLUdKoCganU: Downloading android player API JSON
[info] KLUdKoCganU: Downloading 1 format(s): 244
[download] Destination: /content/Muppet Treasure Island (1996)/Muppet Treasure Island (1996).webm
[download] 100% of    7.48MiB in 00:00:00 at 35.72MiB/s
Found 348 files belonging to 1 classes.
Removing cache dir /root/.cache/yt-dlp ..
[youtube] WtO3CsleMDg: Downloading webpage
[youtube] WtO3CsleMDg: Downloading android player API JSON
[info] WtO3CsleMDg: Downloading 1 format(s): 247
[download] Destination: /content/Braveheart (1995)/Braveheart (1995).webm
[download] 100% of   19.20MiB in 00:00:00 at 32.96MiB/s
Found 524 files belonging to 1 classes.
Removing cache dir /root/.cache/yt-dlp ..
[youtube] S7ORyD-e7-0: Downloading webpage
[youtube] S7ORyD-e7-0: Downloading android player API JSON
[info] S7ORyD-e7-0: Downloading 1 format(s): 247
[download] Destination: /content/Taxi Driver (1976)/Taxi Driver (1976).webm
[download] 100% of    8.69MiB in 00:00:00 at 17.93MiB/s
Found 233 files belonging to 1 classes.
Removing cache dir /root/.cache/yt-dlp ..
[youtube] 8PT49TzAV7I: Downloading webpage
[youtube] 8PT49TzAV7I: Downloading android player API JSON
[youtube] 8PT49TzAV7I: Downloading MPD manifest
[youtube] 8PT49TzAV7I: Downloading MPD manifest
[info] 8PT49TzAV7I: Downloading 1 format(s): 247
[dashsegments] Total fragments: 14
[download] Destination: /content/Rumble in the Bronx (1995)/Rumble in the Bronx (1995).webm
[download] 100% of    8.82MiB in 00:00:05 at 1.52MiB/s
Found 0 files belonging to 1 classes.
[youtube] Y46JSmjcpeM: Downloading webpage
[youtube] Y46JSmjcpeM: Downloading android player API JSON
[info] Y46JSmjcpeM: Downloading 1 format(s): 247
[download] Destination: /content/Birdcage, The (1996)/Birdcage, The (1996).webm
[download] 100% of    9.34MiB in 00:00:00 at 37.81MiB/s
Found 415 files belonging to 1 classes.
Removing cache dir /root/.cache/yt-dlp ..
[youtube] QEFxzbRLOmg: Downloading webpage
[youtube] QEFxzbRLOmg: Downloading android player API JSON
[info] QEFxzbRLOmg: Downloading 1 format(s): 243
[download] Destination: /content/Brothers McMullen, The (1995)/Brothers McMullen, The (1995).webm
[download] 100% of    3.37MiB in 00:00:00 at 20.96MiB/s
Found 345 files belonging to 1 classes.
Removing cache dir /root/.cache/yt-dlp ..
[youtube] OLYENHi4IIc: Downloading webpage
[youtube] OLYENHi4IIc: Downloading android player API JSON
[info] OLYENHi4IIc: Downloading 1 format(s): 247
[download] Destination: /content/Bad Boys (1995)/Bad Boys (1995).webm
[download] 100% of   17.09MiB in 00:00:00 at 39.33MiB/s
Found 477 files belonging to 1 classes.
Removing cache dir /root/.cache/yt-dlp ..
[youtube] KtEIMC58sZo: Downloading webpage
[youtube] KtEIMC58sZo: Downloading android player API JSON
[info] KtEIMC58sZo: Downloading 1 format(s): 18
[download] Destination: /content/Apollo 13 (1995)/Apollo 13 (1995).mp4
[download] 100% of   10.37MiB in 00:00:00 at 39.93MiB/s
Found 460 files belonging to 1 classes.
Removing cache dir /root/.cache/yt-dlp ..
[youtube] b_KllgySsPo: Downloading webpage
[youtube] b_KllgySsPo: Downloading android player API JSON
[info] b_KllgySsPo: Downloading 1 format(s): 247
[download] Destination: /content/Batman Forever (1995)/Batman Forever (1995).webm
[download] 100% of   19.79MiB in 00:00:00 at 38.08MiB/s
Found 607 files belonging to 1 classes.
Removing cache dir /root/.cache/yt-dlp ..
[youtube] gC1lO7lqMuw: Downloading webpage
[youtube] gC1lO7lqMuw: Downloading android player API JSON
[info] gC1lO7lqMuw: Downloading 1 format(s): 247
[download] Destination: /content/Belle de jour (1967)/Belle de jour (1967).webm
[download] 100% of   11.80MiB in 00:00:00 at 32.38MiB/s
Found 295 files belonging to 1 classes.
Removing cache dir /root/.cache/yt-dlp ..
[youtube] cc0Az3IJFOU: Downloading webpage
[youtube] cc0Az3IJFOU: Downloading android player API JSON
[youtube] cc0Az3IJFOU: Downloading tv embedded player API JSON
[youtube] cc0Az3IJFOU: Downloading web embedded client config
[youtube] cc0Az3IJFOU: Downloading player 72d3c60a
[youtube] cc0Az3IJFOU: Downloading web embedded player API JSON
/usr/local/lib/python3.8/dist-packages/yt_dlp/jsinterp.py:346: FutureWarning: Possible nested set at position 3
  inner = re.compile(inner[1:], flags=flags)
[info] cc0Az3IJFOU: Downloading 1 format(s): 244
[download] Destination: /content/Crimson Tide (1995)/Crimson Tide (1995).webm
[download] 100% of    4.60MiB in 00:00:00 at 26.13MiB/s
Found 433 files belonging to 1 classes.
Removing cache dir /root/.cache/yt-dlp ...
[youtube] nfu6IrtTnYw: Downloading webpage
[youtube] nfu6IrtTnYw: Downloading android player API JSON
[info] nfu6IrtTnYw: Downloading 1 format(s): 244
[download] Destination: /content/Crumb (1994)/Crumb (1994).webm
[download] 100% of    6.33MiB in 00:00:00 at 32.53MiB/s
Found 395 files belonging to 1 classes.
Removing cache dir /root/.cache/yt-dlp ..
[youtube] aBr3D2Ehecg: Downloading webpage
[youtube] aBr3D2Ehecg: Downloading android player API JSON
[youtube] aBr3D2Ehecg: Downloading MPD manifest
[youtube] aBr3D2Ehecg: Downloading MPD manifest
[info] aBr3D2Ehecg: Downloading 1 format(s): 136
[dashsegments] Total fragments: 16
[download] Destination: /content/Desperado (1995)/Desperado (1995).mp4
[download] 100% of   19.94MiB in 00:00:06 at 3.13MiB/s
Found 285 files belonging to 1 classes.
Removing cache dir /root/.cache/yt-dlp ..

<ipython-input-14-91bc23a4e033>:40: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  output = np.array([movie_index, clip_durations, embeddings])

In [ ]:
with open('0.npy', 'rb') as f:
    a = np.load(f, allow_pickle=True)
    print(a)

[[0 1 2 4 5 6 7 10 11 12 13 15 16 17 18 19 20 21 22 24 25 26 27 28 29 30
  31 32]
 [90.17341666666665 171.00416666666666 0.0 119.994875 88.96387499999999
  0.0 127.79166666666667 143.04166666666666 144.60279166666666
  27.994633333333333 85.21012499999999 80.04663333333333 86.7
  103.39495833333332 97.30554166666666 159.7012083333333 116.0
  174.50766666666667 77.54166666666667 138.22141666666667 114.989875
  158.96 153.11129166666666 202.26666666666668 98.04166666666667
  144.0605833333333 131.506375 94.97472673128249]
 [array([0.39485422, 0.31839377, 0.01428923, ..., 0.36252853, 0.29716945,
         0.28621638], dtype=float32)
  array([0.28243566, 0.2777684 , 0.01331601, ..., 0.3691073 , 0.30552626,
         0.24498859], dtype=float32)
  array([0.38407522, 0.29742864, 0.03081945, ..., 0.34464055, 0.32826343,
         0.21584655], dtype=float32)
  array([0.43229693, 0.2899653 , 0.01148118, ..., 0.42627874, 0.35532087,
         0.2659685 ], dtype=float32)
  array([0.23504393, 0.23941976, 0.00397608, ..., 0.47513583, 0.38358486,
         0.11121968], dtype=float32)
  array([0.1082285 , 0.20686832, 0.11935039, ..., 0.16844644, 0.25745267,
         0.69474584], dtype=float32)
  array([0.34953701, 0.3071469 , 0.00565855, ..., 0.33436942, 0.49376392,
         0.13752435], dtype=float32)
  array([0.13701989, 0.3593851 , 0.00185585, ..., 0.31270558, 0.37040895,
         0.1991682 ], dtype=float32)
  array([0.13737622, 0.29911447, 0.00197739, ..., 0.336467  , 0.3001205 ,
         0.1302897 ], dtype=float32)
  array([0.37267908, 0.23064888, 0.02800023, ..., 0.32653642, 0.22318856,
         0.4457141 ], dtype=float32)
  array([0.2737748 , 0.31295827, 0.01164446, ..., 0.33038813, 0.3449944 ,
         0.22566114], dtype=float32)
  array([0.19522503, 0.34102696, 0.00128475, ..., 0.34099445, 0.41118044,
         0.08296365], dtype=float32)
  array([0.32410347, 0.2697366 , 0.00736787, ..., 0.3880629 , 0.34140754,
         0.13846204], dtype=float32)
  array([0.38508257, 0.45320457, 0.03597037, ..., 0.42826965, 0.4751543 ,
         0.24894035], dtype=float32)
  array([0.39997897, 0.20488511, 0.03027963, ..., 0.3195834 , 0.34108093,
         0.30077887], dtype=float32)
  array([0.36021367, 0.26315227, 0.05446939, ..., 0.4503335 , 0.3218591 ,
         0.1942415 ], dtype=float32)
  array([0.3089108 , 0.31091103, 0.00377114, ..., 0.2987407 , 0.47580275,
         0.1307462 ], dtype=float32)
  array([0.24950464, 0.2184584 , 0.01213387, ..., 0.33292934, 0.29853272,
         0.14705148], dtype=float32)
  array([0.251068  , 0.288139  , 0.00240334, ..., 0.2942434 , 0.40101966,
         0.15364122], dtype=float32)
  array([0.3992554 , 0.3082295 , 0.00523022, ..., 0.34573352, 0.42725036,
         0.15502366], dtype=float32)
  array([0.5943988 , 0.34174582, 0.03860522, ..., 0.3623706 , 0.3262502 ,
         0.27120522], dtype=float32)
  array([0.25531313, 0.2830728 , 0.00349771, ..., 0.40553185, 0.38403448,
         0.19484176], dtype=float32)
  array([0.4128262 , 0.31780005, 0.03985257, ..., 0.4350174 , 0.41865635,
         0.3021757 ], dtype=float32)
  array([0.31453693, 0.22251405, 0.00434516, ..., 0.46062866, 0.3801216 ,
         0.1393194 ], dtype=float32)
  array([0.3694285 , 0.24459521, 0.00698692, ..., 0.3917768 , 0.3924346 ,
         0.18483217], dtype=float32)
  array([0.09160976, 0.3753322 , 0.00074679, ..., 0.4150627 , 0.35707688,
         0.18126361], dtype=float32)
  array([0.33368075, 0.36274523, 0.01681673, ..., 0.61394143, 0.42084897,
         0.27526686], dtype=float32)
  array([0.24105723, 0.3357401 , 0.00188448, ..., 0.31582743, 0.35813162,
         0.17125691], dtype=float32)                                     ]]

In [ ]:
pca = PCA(n_components=1500, whiten=True)
principalComponents = pca.fit_transform(embeddings)

NameError: ignored